{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "quote-props": [
      1,
      "as-needed"
    ],
    "quotes": [
      1,
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "max-len": [
      2,
      120,
      {
        "ignoreComments": true
      }
    ],
    "import/extensions": ["off", "never"],
    "global-require": ["off", "never"],
    "no-unescaped-entities": ["off", "never"],
    "react/forbid-prop-types": ["off", "never"],
    "jsx-a11y/anchor-is-valid": ["off", "never"],
    "linebreak-style": ["off", "never"],
    "no-param-reassign": ["off", "never"],
    "jsx-a11y/label-has-for": ["off", "never"],
    "jsx-a11y/no-autofocus": ["off", "never"]
  }
}
