@import "vars.styl";
@import "mixins.styl";
@import "form.styl";

html
body
  font-family $default-font-family
  font-size $default-font-size
  margin 0
  padding 0
  height 100%

.content
  &__item
    padding 20px

.title
  margin 0
  padding-bottom 20px
