$default-font-family = Arial;
$default-font-size = 16px;

$text-color = #000;
$text-color-secondary = #fff;
$text-color-error = red;
$text-color-success = #3c763d;

$default-btn-bg = #fff;
$default-btn-hover-bg = #e6e6e6;

$default-border-color = #ccc;
$border-error-color = red;

$border-error-shadow = inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;

$menu-item-bg = #337ab7;
$menu-item-active-bg = #286090;